.showopt {
  background-color: #FFFFFF;
  color: #000000; 
  width: 50px;
  height: 20px;
  border:1px solid #A9A9A9; /*EEEEEE*/
  text-align: center;
  vertical-align: middle !important;
  float: right;
  font-family: sans-serif;
}

.showopt:hover {
    cursor: pointer;
    background-color: #DADADA;
    color: #000000;
}

pre.plot {
  background-color: white !important;
}